@import '../sass-componentes/variables';


.notification-body{
    max-width: 750px;
    background-color: $White;
    padding: 20px;
    border-radius: 20px;
    h2{
        float: left;
        width: 50%;
    }
    p{
        float: right;
    }

}