.notification_single{
    width: 100%;
    display: flex;
    margin: 20px 0; 
    
    min-height: 60px;
   
    .notify-content{
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
        padding: 10px;
        span{
        width: 100%;
    }
    }
   
    img{
        height: 50px;
        width: 70px;
        
        
    }
}