@import 'variables';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $familyP;
    font-size: $fontP;
    @include tablet(){
        font-size: 14px;
    }
    
}
html,body{
    height: 100%;
    background-color: $Very-lg-blue;
}
.clear{
    clear: both;
}