
@import 'sass-componentes/resets.scss';


.App{
  background-color: $Very-lg-blue;
  width: 100%;
  height: 100vh;
  display: flex;
  
  
  
    .app-container{
    max-width: $desktop;
    margin: 0 auto;

    position: relative;
    padding: 10px;
    button{
      background-color: transparent;
      border:none;
      text-align: left;
      padding: 10px;
      margin: 10px;
      border-radius:10px ;
    }
    .button--activated{
      background-color: $Light-g-blue1;
    }
  }

}


